[submodule "Vendor/SSPullToRefresh"]
	path = Vendor/SSPullToRefresh
	url = https://github.com/soffes/sspulltorefresh.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
